@charset "UTF-8";

@-webkit-keyframes imgLight{
  0% {
    -webkit-transform:scale3d(.85, .85, .85);
    transform:scale3d(.85, .85, .85);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  50% {
    -webkit-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 0.30;
  }
  100% {
    opacity: 0;
    -webkit-transform:scale3d(.85, .85, .85);
    transform:scale3d(.85, .85, .85);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes imgLight{
  0% {
    -webkit-transform:scale3d(.85, .85, .85);
    transform:scale3d(.85, .85, .85);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  50% {
    -webkit-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 0.30;
  }
  100% {
    opacity: 0;
    -webkit-transform:scale3d(.85, .85, .85);
    transform:scale3d(.85, .85, .85);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.imgLight{
  -webkit-animation-name: imgLight;
  animation-name: imgLight;
}