@charset "UTF-8";
.header-title {
  width: 100%;
  height: 1.7391304348rem;
  color: #2A2A30;
  text-align: center; }
  .header-title .header-main {
    max-width: 750px;
    margin: 0 auto;
    position: relative; }
    .header-title .header-main h3 {
      font-size: 0.6956521739rem;
      line-height: 1.8260869565rem;
      margin: 0; }
    .header-title .header-main .history-back {
      width: 1.3913043478rem;
      height: 1.3913043478rem;
      font-size: 1.1304347826rem;
      line-height: 1.3913043478rem;
      color: #666;
      text-align: center;
      position: absolute;
      left: 0.347826087rem;
      top: 0.1739130435rem;
      z-index: 102; }

.top-banner {
  max-width: 750px;
  margin: 0 auto;
  border-top: 1px solid #eee;
  padding-left: 0.4347826087rem;
  padding-right: 0.4347826087rem;
  padding-top: 0.4347826087rem;
  border-bottom: #F7F7F7 10px solid; }
  .top-banner .top-banner-main {
    width: 100%;
    position: relative;
    padding-bottom: 34%;
    border-radius: 0.5217391304rem;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.11);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
    .top-banner .top-banner-main .swiper-container {
      width: 100%;
      height: 100%;
      overflow: inherit;
      position: absolute;
      top: 0;
      left: 0; }
      .top-banner .top-banner-main .swiper-container .swiper-slide {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 0.5217391304rem;
        background: url(../img/index-banner-bg.png) center no-repeat;
        flex-wrap: wrap;
        background-size: 100%;
        -webkit-flex-wrap: wrap; }
        .top-banner .top-banner-main .swiper-container .swiper-slide h4 {
          font-family: 'FZZZHONGJW';
          color: #fff;
          width: 100%;
          font-size: 1.0434782609rem;
          text-align: center;
          line-height: 1.5652173913rem; }
        .top-banner .top-banner-main .swiper-container .swiper-slide .add-botton {
          width: 5.4782608696rem;
          height: 1.4782608696rem;
          margin: 0 auto;
          background: #fff;
          border-radius: 100px;
          margin-top: 0.5217391304rem;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); }
          .top-banner .top-banner-main .swiper-container .swiper-slide .add-botton span {
            float: left;
            font-size: 1.1304347826rem;
            color: #5BAEF6;
            margin-top: 0.1739130435rem;
            margin-left: 0.5217391304rem;
            margin-right: 0.2608695652rem; }
          .top-banner .top-banner-main .swiper-container .swiper-slide .add-botton p {
            line-height: 1.4782608696rem;
            color: #6DBBFE;
            font-size: 0.6956521739rem; }
  .top-banner .nav-list {
    width: 100%;
    text-align: center;
    margin-top: 1.2173913043rem;
    margin-bottom: 0.4347826087rem;
    position: relative; }
    .top-banner .nav-list ul {
      width: 100%; }
      .top-banner .nav-list ul li {
        display: inline-block;
        color: #999999;
        font-size: 0.8260869565rem;
        line-height: 1.1304347826rem; }
        .top-banner .nav-list ul li:first-child {
          margin-right: 1.8260869565rem; }
        .top-banner .nav-list ul li.active {
          color: #000; }
    .top-banner .nav-list .nav-line {
      width: 1.9130434783rem;
      height: 0.0869565217rem;
      position: absolute;
      bottom: -0.4347826087rem;
      left: -200px;
      background: #000;
      transition: all 0.25s ease;
      -webkit-transition: all 0.25s ease; }

.main {
  width: 100%;
  background: #fff;
  padding-bottom: 2.2173913043rem; }
  .main .main-container {
    max-width: 750px;
    margin: 0 auto; }
    .main .main-container .swiper-container {
      width: 100%; }
      .main .main-container .swiper-container .swiper-slide {
        width: 100%; }
        .main .main-container .swiper-container .swiper-slide .list-title {
          font-size: 0.5217391304rem;
          line-height: 0.8695652174rem;
          color: #999;
          width: 100%;
          padding-bottom: 0.5217391304rem;
          border-bottom: 1px solid #eee; }
        .main .main-container .swiper-container .swiper-slide .check-all {
          width: 100%;
          text-align: center;
          font-size: 0.6956521739rem;
          line-height: 2.0869565217rem;
          border: none;
          background: none;
          outline: none; }

.qestion-list {
  width: 100%;
  padding-left: 0.652173913rem;
  padding-right: 0.652173913rem;
  box-sizing: border-box;
  border-bottom: #F7F7F7 10px solid;
  padding-top: 1.0434782609rem; }
  .qestion-list ul {
    width: 100%;
    display: block;
    overflow: hidden; }
    .qestion-list ul li {
      width: 100%;
      display: block;
      float: left;
      padding-top: 0.5217391304rem;
      padding-bottom: 0.5217391304rem;
      border-bottom: 1px solid #eee; }
      .qestion-list ul li h6 {
        font-size: 0.6956521739rem;
        color: #2F2F2F;
        line-height: 1.0869565217rem;
        margin-bottom: 0.5217391304rem;
        margin-top: 0.5217391304rem; }
      .qestion-list ul li .answer-detail {
        font-size: 0.5217391304rem;
        color: #999999;
        line-height: 0.9565217391rem; }
      .qestion-list ul li .answer-audio {
        width: 9.5217391304rem;
        height: 1.5652173913rem;
        line-height: 1.5652173913rem;
        border-radius: 200px;
        background: #6DBBFE;
        margin-top: 0.5217391304rem;
        font-size: 0.6086956522rem;
        float: left;
        text-align: center;
        color: #fff; }
        .qestion-list ul li .answer-audio span {
          float: left;
          width: 1.7391304348rem;
          font-size: 0.7826086957rem; }
        .qestion-list ul li .answer-audio p {
          width: 5.6086956522rem;
          float: left;
          color: #fff; }
        .qestion-list ul li .answer-audio i {
          width: 2.1739130435rem;
          float: left; }
      .qestion-list ul li .answer-msg {
        width: 100%;
        float: left;
        margin-top: 1.0434782609rem;
        overflow: hidden;
        margin-bottom: 0.1304347826rem; }
        .qestion-list ul li .answer-msg .touxiang {
          width: 0.6956521739rem;
          height: 0.6956521739rem;
          border-radius: 50px;
          overflow: hidden;
          float: left;
          margin-right: 0.2608695652rem; }
          .qestion-list ul li .answer-msg .touxiang img {
            width: 100%; }
        .qestion-list ul li .answer-msg .name, .qestion-list ul li .answer-msg .address, .qestion-list ul li .answer-msg .state {
          display: block;
          float: left;
          margin-top: 0.1304347826rem;
          font-size: 0.4782608696rem; }
        .qestion-list ul li .answer-msg .name {
          color: #666;
          margin-right: 0.2608695652rem; }
        .qestion-list ul li .answer-msg .address {
          color: #ccc; }
        .qestion-list ul li .answer-msg .state {
          color: #6DBBFE;
          float: right; }

.qestion-list-last {
  border-bottom: none; }

.doctor-list {
  width: 100%;
  padding-left: 0.652173913rem;
  padding-right: 0.652173913rem;
  box-sizing: border-box;
  padding-top: 1.0434782609rem; }
  .doctor-list ul {
    display: block;
    overflow: hidden;
    width: 100%; }
    .doctor-list ul li {
      width: 100%;
      float: left;
      border-bottom: 1px solid #eee; }
      .doctor-list ul li .touxiang {
        width: 1.7391304348rem;
        height: 1.7391304348rem;
        margin-top: 0.9565217391rem;
        margin-right: 0.652173913rem;
        border-radius: 100px;
        float: left;
        overflow: hidden; }
        .doctor-list ul li .touxiang img {
          width: 100%; }
      .doctor-list ul li .name {
        width: 8.1739130435rem;
        height: 3.652173913rem;
        float: left; }
        .doctor-list ul li .name h4 {
          font-size: 0.6956521739rem;
          line-height: 1.0869565217rem;
          margin-top: 0.8695652174rem;
          margin-bottom: 0.2608695652rem; }
          .doctor-list ul li .name h4 span {
            display: inline-block;
            width: 0.7826086957rem;
            height: 0.7826086957rem;
            border-radius: 100px;
            background: -webkit-linear-gradient(left, #86D1FC, #4EA4F7);
            /* Safari 5.1 - 6.0 */
            background: linear-gradient(right, #86D1FC, #4EA4F7);
            /* 标准的语法 */
            color: #fff;
            line-height: 0.8695652174rem;
            margin-left: 0.1739130435rem;
            font-size: 0.6086956522rem;
            text-align: center; }
        .doctor-list ul li .name p {
          font-size: 0.4782608696rem;
          color: #999999; }
      .doctor-list ul li .price {
        float: right;
        width: 3.9130434783rem; }
        .doctor-list ul li .price p {
          height: 1.3043478261rem;
          width: 100%;
          border-radius: 100px;
          margin-top: 1.3043478261rem;
          text-align: center;
          line-height: 1.3043478261rem;
          color: #fff;
          font-size: 0.6086956522rem;
          display: block;
          background: -webkit-linear-gradient(left, #86D1FC, #4EA4F7);
          /* Safari 5.1 - 6.0 */
          background: linear-gradient(right, #86D1FC, #4EA4F7);
          /* 标准的语法 */ }

.slide-adv {
  width: 100%;
  height: 5.4347826087rem;
  padding: 0.4347826087rem 0.652173913rem 0.4347826087rem 0.652173913rem;
  box-sizing: border-box;
  border-bottom: #F7F7F7 10px solid; }
  .slide-adv .swiper-container {
    width: 100%;
    height: 100%;
    background: #F2FAFF;
    border-radius: 0.5217391304rem;
    overflow: hidden; }
    .slide-adv .swiper-container .swiper-pagination-bullet {
      width: 4px;
      height: 4px; }
    .slide-adv .swiper-container .swiper-slide {
      position: relative; }
      .slide-adv .swiper-container .swiper-slide img {
        width: 100%; }
  .slide-adv .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 8px; }
  .slide-adv .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px; }
  .slide-adv .swiper-pagination-bullet-active {
    background: #47AFF9; }

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2.1739130435rem;
  text-align: center;
  z-index: 66;
  border-top: 1px solid #eee;
  background: #fff; }
  .footer .footer-main {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    justify-content: space-around;
    -webkit-justify-content: space-around; }
    .footer .footer-main .left, .footer .footer-main .right {
      font-size: 1.1304347826rem;
      color: #ccc; }
      .footer .footer-main .left p, .footer .footer-main .right p {
        font-size: 0.4782608696rem;
        margin-top: 0.0869565217rem; }
    .footer .footer-main .active {
      color: #6dbbfe; }
    .footer .footer-main .center {
      width: 3.8260869565rem;
      height: 1.7391304348rem;
      color: #fff;
      font-size: 0.7826086957rem;
      border-radius: 100px;
      background: #6DBBFE; }
      .footer .footer-main .center span {
        font-size: 1.0434782609rem;
        float: left;
        line-height: 1.7391304348rem;
        margin-right: 0.1739130435rem;
        margin-top: 0.0869565217rem; }
      .footer .footer-main .center i {
        float: left;
        line-height: 1.7391304348rem;
        margin-top: 0.0869565217rem; }

.header-title-list {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98; }

.search-box {
  width: 100%;
  height: 2.1739130435rem;
  position: fixed;
  left: 0;
  top: 0;
  background: #f7f7f7;
  border-top: 1px solid #eee;
  z-index: 99; }
  .search-box .search-box-main {
    max-width: 750px;
    height: 100%;
    margin: 0 auto; }
    .search-box .search-box-main input {
      width: 13.6086956522rem;
      height: 1.4782608696rem;
      border: 1px solid #eee;
      border-radius: 100px;
      margin: 0;
      margin-right: 0.347826087rem;
      font-size: 0.6086956522rem;
      color: #ccc; }
    .search-box .search-box-main button {
      width: 1.3913043478rem;
      background: none;
      border: none;
      padding: 0;
      font-size: 0.6956521739rem;
      color: #6DBBFE; }

.mui-pull-top-tips {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -25px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 101; }

.mui-bar ~ .mui-pull-top-tips {
  top: 24px; }

.mui-pull-top-wrapper {
  width: 42px;
  height: 42px;
  display: block;
  text-align: center;
  background-color: #efeff4;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-clip: padding-box;
  box-shadow: 0 4px 10px #bbb;
  overflow: hidden; }

.mui-pull-top-tips.mui-transitioning {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms; }

.mui-pull-top-tips .mui-pull-loading {
  margin: 0; }

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
  margin-top: 7px; }

.mui-pull-bottom-tips {
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  color: #777; }

.mui-pull-top-canvas {
  overflow: hidden;
  background-color: #fafafa;
  border-radius: 40px;
  box-shadow: 0 4px 10px #bbb;
  width: 40px;
  height: 40px;
  margin: 0 auto; }

.mui-pull-top-canvas canvas {
  width: 40px; }

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
  color: #999;
  font-size: 0.6086956522rem;
  padding-left: 0.4347826087rem;
  padding-right: 0.4347826087rem; }

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #6DBBFE;
  position: relative; }
  .mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0.4347826087rem;
    width: 2.4347826087rem;
    height: 2px;
    background: #47AFF9; }

.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
  border: none; }

.mui-content {
  max-width: 750px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  background: none; }
  .mui-content .mui-scroll {
    padding-top: 0;
    border: none; }
  .mui-content .mui-fullscreen {
    top: 2.1739130435rem; }
  .mui-content .scroll-line {
    width: 94%;
    height: 1px;
    background: #eee;
    position: absolute;
    bottom: 0;
    left: 3%; }

.answer-state {
  width: 100%;
  height: 3.0434782609rem; }
  .answer-state button {
    width: 3.9130434783rem;
    height: 1.3043478261rem;
    border-radius: 100px;
    border: 1px solid #eee;
    font-size: 0.6086956522rem;
    color: #6DBBFE;
    margin-top: 1.3913043478rem;
    box-sizing: border-box;
    margin-right: 0.347826087rem; }
    .answer-state button.active {
      background: -webkit-linear-gradient(left, #86D1FC, #4EA4F7);
      background: linear-gradient(right, #86D1FC, #4EA4F7);
      color: #fff;
      border: none; }

/*# sourceMappingURL=wenzheng.css.map */
