@charset "UTF-8";

$fontSize:23;

@function r($px){
	// @return $px/2/$fontSize+rem;
	@return $px/$fontSize+rem;
}

@mixin setPm($name,$val...){
	$max:length($val);//3
	$str:"";
	// 从1开始到 length3结束
	@for $i from 1 through $max{
		// 第一次循环
		// $value:nth($val,$i)/2/$fontSize;
		$value:nth($val,$i)/$fontSize;
		$str:#{$str+$value}rem;
		@if $i < $max{
			$str:#{$str+" "};
		}
	}
	#{$name}:$str;
	
}
.header-title {
  width: 100%;
  height: r(40);
  color: #2A2A30;
  text-align: center;
  .header-main {
    max-width: 750px;
    margin: 0 auto;
    position: relative;
    h3 {
      font-size: r(16);
      line-height: r(42);
      margin: 0;
    }
    .history-back {
      width: r(32);
      height: r(32);
      font-size: r(26);
      line-height: r(32);
      color: #666;
      text-align: center;
      position: absolute;
      left: r(8);
      top: r(4);
      z-index: 102;
    }
  }
}
.top-banner {
  max-width: 750px;
  margin: 0 auto;
  border-top: 1px solid #eee;
  padding-left: r(10);
  padding-right: r(10);
  padding-top: r(10);
  border-bottom: #F7F7F7 10px solid;
  .top-banner-main {
    width: 100%;
    position: relative;
    padding-bottom: 34%;
    border-radius: r(12);
    overflow: hidden;
    background: rgba($color: #000000, $alpha: 0.11);
    box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.1);
    .swiper-container {
      width: 100%;
      height: 100%;
      overflow: inherit;
      position: absolute;
      top: 0;
      left: 0;
      .swiper-slide {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: r(12);
        background: url(../img/index-banner-bg.png) center no-repeat;
        flex-wrap: wrap;
        background-size: 100%;
        -webkit-flex-wrap: wrap;
        h4 {
          font-family: 'FZZZHONGJW';
          color: #fff;
          width: 100%;
          font-size: r(24);
          text-align: center;
          line-height: r(36);
        }
        .add-botton {
          width: r(126);
          height: r(34);
          margin: 0 auto;
          background: #fff;
          border-radius: 100px;
          margin-top: r(12);
          box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.05);
          span {
            float: left;
            font-size: r(26);
            color: #5BAEF6;
            margin-top: r(4);
            margin-left: r(12);
            margin-right: r(6);
          }
          p {
            line-height: r(34);
            color: #6DBBFE;
            font-size: r(16);
          }
        }
      }
    }
  }
  .nav-list {
    width: 100%;
    text-align: center;
    margin-top: r(28);
    margin-bottom: r(10);
    position: relative;
    ul {
      width: 100%;
      li {
        display: inline-block;
        color: #999999 ;
        font-size: r(19);
        line-height: r(26);
        &:first-child {
          margin-right: r(42);
        }
        &.active {
          color: #000;
        }
      }
    }
    .nav-line {
      width: r(44);
      height: r(2);
      position: absolute;
      bottom: r(-10);
      left: -200px;
      background: #000;
      transition:all 0.25s ease;
      -webkit-transition:all 0.25s ease;
    }
  }
}
.main {
  width: 100%;
  background: #fff;
  padding-bottom: r(51);
  .main-container {
    max-width: 750px;
    margin: 0 auto;
    .swiper-container {
      width: 100%;
      .swiper-slide {
        width: 100%;
        .list-title {
          font-size: r(12);
          line-height: r(20);
          color: #999;
          width: 100%;
          padding-bottom: r(12);
          border-bottom: 1px solid #eee;
        }
        .check-all {
          width: 100%;
          text-align: center;
          font-size: r(16);
          line-height: r(48);
          border: none;
          background: none;
          outline: none;
        }
      }
    }
  }
}
.qestion-list {
  width: 100%;
  padding-left: r(15);
  padding-right: r(15);
  box-sizing: border-box;
  border-bottom: #F7F7F7 10px solid;
  padding-top: r(24);
  ul {
    width: 100%;
    display: block;
    overflow: hidden;
    li {
      width: 100%;
      display: block;
      float: left;
      padding-top: r(12);
      padding-bottom: r(12);
      border-bottom: 1px solid #eee;
      h6 {
        font-size: r(16);
        color: #2F2F2F;
        line-height: r(25);
        margin-bottom: r(12);
        margin-top: r(12);
      }
      .answer-detail {
        font-size: r(12);
        color: #999999;
        line-height: r(22);
      }
      .answer-audio {
        width: r(219);
        height: r(36);
        line-height: r(36);
        border-radius: 200px;
        background: #6DBBFE ;
        margin-top: r(12);
        font-size: r(14);
        float: left;
        text-align: center;
        color: #fff;
        span {
          float: left;
          width: r(40);
          font-size: r(18);
        }
        p {
          width: r(129);
          float: left;
          color: #fff;
        }
        i {
          width: r(50);
          float: left;
        }
      }
      .answer-msg {
        width: 100%;
        float: left;
        margin-top: r(24);
        overflow: hidden;
        margin-bottom: r(3);
        .touxiang {
          width: r(16);
          height: r(16);
          border-radius: 50px;
          overflow: hidden;
          float: left;
          margin-right: r(6);
          img {
            width: 100%;
          }
        }
        .name,.address,.state {
          display: block;
          float: left;
          margin-top: r(3);
          font-size: r(11);
        }
        .name {
          color: #666;
          margin-right: r(6);
        }
        .address {
          color: #ccc;
        }
        .state {
          color: #6DBBFE;
          float: right;
        }
      }
    }
  }
}
.qestion-list-last {
  border-bottom: none;
}
.doctor-list {
  width: 100%;
  padding-left: r(15);
  padding-right: r(15);
  box-sizing: border-box;
  padding-top: r(24);
  ul {
    display: block;
    overflow: hidden;
    width: 100%;
    li {
      width: 100%;
      float: left;
      border-bottom: 1px solid #eee;
      .touxiang {
        width: r(40);
        height: r(40);
        margin-top: r(22);
        margin-right: r(15);
        border-radius: 100px;
        float: left;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .name {
        width: r(188);
        height: r(84);
        float: left;
        h4 {
          font-size: r(16);
          line-height: r(25);
          margin-top: r(20);
          margin-bottom: r(6);
          span {
            display: inline-block;
            width: r(18);
            height: r(18);
            border-radius: 100px;
            background: -webkit-linear-gradient(left, #86D1FC , #4EA4F7); /* Safari 5.1 - 6.0 */
            background: linear-gradient(right, #86D1FC , #4EA4F7); /* 标准的语法 */
            color: #fff;
            line-height: r(20);
            margin-left: r(4);
            font-size: r(14);
            text-align: center;
          }
        }
        p {
          font-size: r(11);
          color: #999999;
        }
      }
      .price {
        float: right;
        width: r(90);
        p {
          height: r(30);
          width: 100%;
          border-radius: 100px;
          margin-top: r(30);
          text-align: center;
          line-height: r(30);
          color: #fff;
          font-size: r(14);
          display: block;
          background: -webkit-linear-gradient(left, #86D1FC , #4EA4F7); /* Safari 5.1 - 6.0 */
          background: linear-gradient(right, #86D1FC , #4EA4F7); /* 标准的语法 */
        }
      }
    }
  }
}
.slide-adv {
  width: 100%;
  height: r(125);
  @include setPm(padding,10, 15, 10, 15);
  box-sizing: border-box;
  border-bottom: #F7F7F7 10px solid;
  .swiper-container {
    width: 100%;
    height: 100%;
    background: #F2FAFF ;
    border-radius: r(12);
    overflow: hidden;
    .swiper-pagination-bullet {
      width: 4px;
      height: 4px;
    }
    .swiper-slide {
      position: relative;
      img {
        width: 100%;
      }
    }
  }
  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 8px;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px;
  }
  .swiper-pagination-bullet-active {
    background: #47AFF9 ;
  }
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: r(50);
  text-align: center;
  z-index: 66;
  border-top: 1px solid #eee;
  background: #fff;
  .footer-main {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    .left,.right {
      font-size: r(26);
      color: #ccc;
      p {
        font-size: r(11);
        margin-top: r(2); 
      }
    }
    .active {
      color: #6dbbfe;
    }
    .center {
      width: r(88);
      height: r(40);
      color: #fff;
      font-size: r(18);
      border-radius: 100px;
      background: #6DBBFE;
      span {
        font-size: r(24);
        float: left;
        line-height: r(40);
        margin-right: r(4);
        margin-top: r(2);
      }
      i {
        float: left;
        line-height: r(40);
        margin-top: r(2);
      }
    }
  }
}


// list-detail
.header-title-list {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
}
.search-box {
  width: 100%;
  height: r(50);
  position: fixed;
  left: 0;
  top: 0;
  background: #f7f7f7;
  border-top: 1px solid #eee;
  z-index: 99;
  .search-box-main {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    input {
      width: r(313);
      height: r(34);
      border: 1px solid #eee;
      border-radius: 100px;
      margin: 0;
      margin-right: r(8);
      font-size: r(14);
      color: #ccc;
    }
    button {
      width: r(32);
      background:none;
      border: none;
      padding: 0;
      font-size: r(16);
      color: #6DBBFE;
    }
  }
}
.mui-pull-top-tips {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -25px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 101;
}
.mui-bar~.mui-pull-top-tips {
  top: 24px;
}
.mui-pull-top-wrapper {
  width: 42px;
  height: 42px;
  display: block;
  text-align: center;
  background-color: #efeff4;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-clip: padding-box;
  box-shadow: 0 4px 10px #bbb;
  overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
  margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
  margin-top: 7px;
}
.mui-pull-bottom-tips {
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  color: #777;
}
.mui-pull-top-canvas {
  overflow: hidden;
  background-color: #fafafa;
  border-radius: 40px;
  box-shadow: 0 4px 10px #bbb;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.mui-pull-top-canvas canvas {
  width: 40px;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
  color: #999;
  font-size: r(14);
  padding-left: r(10);
  padding-right: r(10);
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #6DBBFE;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: r(10);
    width: r(56);
    height: 2px;
    background: #47AFF9;
  }
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
  border: none;
}
.mui-content {
  max-width: 750px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  background: none;
  .mui-scroll {
    padding-top: 0;
    border: none;
  }
  .mui-fullscreen {
    top: r(50);
  }
  .scroll-line {
    width: 94%;
    height: 1px;
    background: #eee;
    position: absolute;
    bottom: 0;
    left: 3%;
  }
}
.answer-state {
  width: 100%;
  height: r(70);
  button {
    width: r(90);
    height: r(30);
    border-radius: 100px;
    border: 1px solid #eee;
    font-size: r(14);
    color: #6DBBFE;
    margin-top: r(32);
    box-sizing: border-box;
    margin-right: r(8);
    &.active {
      background: -webkit-linear-gradient(left, #86D1FC , #4EA4F7);
      background: linear-gradient(right, #86D1FC , #4EA4F7); 
      color: #fff;
      border: none;
    }
  }
}